@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Momo Trust Display', sans-serif;
}

:root{
    --cor-principal: #2074E8;
    --cor-de-fundo: #282c31;
    --cor-de-fundo-secundaria: #363b42;
    --cor-secundaria: #ffffff;
    --azul-escuro: #466693;
}

html{
    font-size: 62.5%;
}

body{
    color: var(--cor-secundaria);
    background: var(--azul-escuro);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}
header.active{
    animation: show-header 1.5s linear forwards;
    animation-delay: .9s;
}
@keyframes show-header{
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo{
    font-size: 3rem;
    color: var(--cor-principal);
    font-weight: 700;
    cursor: default;
}

nav a{
    font-size: 2rem;
    color: var(--cor-secundaria);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

nav a:hover,
nav a.active{
    color: var(--cor-principal);    
}

#menu-icon{
    font-size: 4rem;
    color: var(--cor-secundaria);
    display: none;    
}

.bars-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-box .bar{
    width: 100%;
    height: 100%;
    background: var(--cor-de-fundo);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}
@keyframes hide-bars{
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}

.bars-box.active .bar{
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

section{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active{
    animation: show-content 1.2s linear forwards;
    animation-delay: 1.1s;   
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
        overflow: auto;

    }
}

.home{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1{
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}
.home-detail h2{
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;

}


.home-detail p{
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;    
}
.home-detail .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--cor-principal);
    border: .2rem solid var(--cor-principal);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--azul-escuro);
    font-size: 1.6rem;
    color: var(--cor-de-fundo);
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: var(--cor-principal);
    box-shadow: none;
}
.home-detail .btn-sci .sci{
    margin-left: 2rem;
}
.home-detail .btn-sci .sci a{
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--cor-principal);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--cor-principal);
    margin: 0.8rem;
    transition: .5s;
}
.home-detail .btn-sci .sci a:hover{
    background-color: var(--cor-principal);
    color: var(--cor-de-fundo);
    box-shadow: var(--azul-escuro);
}
.home-img .img-box{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--cor-principal));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after{
    animation-delay: -5s;
}
@keyframes rotate-border {    
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--cor-de-fundo);
    border-radius: 50%;
    border: .01rem solid var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;    
}
.home-img .img-box .img-item img{ 
    position: absolute;   
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* Sessão de serviços css */
.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    color: var(--cor-principal);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-container .services-box{
    padding: 3rem 2.5rem;
    background: var(--cor-de-fundo-secundaria);
    border: .2rem solid var(--cor-de-fundo-secundaria);
    border-radius: 1rem;     
    transition: .5s;
}
.services-container .services-box:hover{
    border-color: var(--cor-principal);    
    transform: scale(1.02);
}

.services-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-box .icon i{
    font-size: 4.5rem;
    transition: .5s;    
}

.services-box:hover .icon :not(a i){
    color: var(--cor-principal);
}

.services-box .icon a {
    display: inline-flex;
    background: var(--cor-secundaria);
    border-radius: 50%;
    padding: 1rem;    
}

.services-box .icon a i{
    font-size: 3rem;
    color: var(--cor-principal);
    transform: rotate(225deg);
}
.services-box h3{
    font-size: 3rem;
    margin: .5rem 0 2rem;
}
.services-box p{
    font-size: 1.6rem;    
}

/* sessão sobre mim */
.resume-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2{
    font-size: 4.5rem;
}
.resume-box p{
    font-size: 1.6rem;
}
.resume-box .desc{
    margin: 2rem 0 2.5rem;
}
.resume-box .resume-btn{
    width: 100%;
    height: 5.3rem;
    background: var(--cor-de-fundo-secundaria);
    border: .2rem solid var(--cor-de-fundo-secundaria);
    font-size: 1.6rem;
    color: var(--cor-secundaria);
    font-weight: 300;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: .5s;
}
.resume-box .resume-btn:hover{
    border-color: var(--azul-escuro);
}
.resume-box .resume-btn.active{
    background: var(--azul-escuro);
    border-color: var(--azul-escuro);
    color: var(--cor-de-fundo);
}

.resume-detail{
    display: none;
}
.resume-detail.active{
    display: block;
}


.resume-box .heading {
    font-size: 3.5rem;
    text-align: left;
}

.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: auto;
    overflow: auto;
}
.resume-list .resume-item{
    background: var(--cor-de-fundo-secundaria);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45 rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .ano{
    color: var(--cor-principal);
}
.resume-item h3{
    font-size: 2.2rem;
}
.resume-item .empresa{
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
.resume-item .empresa::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--cor-principal);
    border-radius: 50%;
    margin-left: -2rem;
}

.resume-detail.skills .resume-list{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item{
    position: relative;
    align-items: center;
    height: auto;
    transition: .5s;
}

.resume-detail.skills .resume-item i{
    font-size: 8.5rem;
    transition: .5s;
}
.resume-detail.skills .resume-item:hover {
    color: var(--cor-principal);
}

/*projetos*/
.projeto-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.projeto-detail{
    display: none;
}
.projeto-detail.active{
    display: block;
}

.projeto-box .numb{
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--cor-secundaria);
    color: transparent;
    line-height: 1;
}

.projeto-box h3{
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.projeto-box p{
    font-size: 1.6rem;
}

.projeto-box .tech{
    margin: 2rem 0;
    color: var(--cor-principal);
    border-bottom: .1rem solid var(--cor-principal);
    padding-bottom: 2rem;
}

.projeto-box .live-github a{
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--cor-secundaria);
    border-radius: 50%;
    background: var(--cor-de-fundo-secundaria);
    transition: .5s;
}
.projeto-box .live-github a:hover{
    color: var(--cor-de-fundo);
    background: var(--cor-principal);
}

.projeto-box .live-github a:first-child{
    margin-right: 1.5rem;
}
.projeto-box .live-github a:first-child i{
    transform: rotate(135deg);
}

.projeto-box .live-github a span{
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--cor-secundaria);
    color: var(--cor-de-fundo);
    opacity: 0;
    scale: .9;
    transition: .2s;
}

.projeto-box .live-github a:hover span{
    top: -70%;
    opacity: 1;
    scale: 1;
}

.projeto-box .projeto-carrossel{
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    overflow: hidden;
}

.projeto-carrossel .img-slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.projeto-carrossel .img-item{
    height: inherit;
}

.projeto-carrossel .img-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:  1rem;
}

.projeto-box .navigation{
    text-align: right;
    margin-top:  2rem;
}

.projeto-box .navigation button{
    display: inline-flex;
    padding: .4rem;
    background: var(--cor-de-fundo-secundaria);
    border: .2rem solid var(--cor-principal);
    font-size: 4rem;
    border-radius: .6rem;
    color: var(--cor-principal);
    cursor: pointer;
    transition: .5s;
}

.projeto-box .navigation .arrow-right{
    margin-left: 1.5rem;
}

.projeto-box .navigation button.disabled{
    border-color: var(--cor-de-fundo-secundaria);
    color: var(--azul-escuro);
}

/*contato*/

.contato {
  text-align: center;
  padding: 10rem 9%;
  background: var(--cor-de-fundo);
}



.contato-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.contato-box {
  background: var(--cor-de-fundo-secundaria);
  border: .2rem solid var(--cor-de-fundo-secundaria);
  border-radius: 1rem;
  padding: 4rem 3rem;
  width: 32rem;
  transition: .5s;
}

.contato-box:hover {
  border-color: var(--cor-principal);
  transform: scale(1.03);
}

.contato-box i {
  font-size: 5rem;
  color: var(--cor-principal);
  margin-bottom: 1.5rem;
  display: block;
}

.contato-box h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contato-box p {
  font-size: 1.6rem;
  color: var(--cor-secundaria);
  margin-bottom: 2rem;
}

.btn-contato {
  display: inline-block;
  background: var(--cor-principal);
  color: var(--cor-de-fundo);
  padding: 1rem 2rem;
  border-radius: .8rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: .3s;
  cursor: pointer;
}

.btn-contato:hover {
  background: transparent;
  color: var(--cor-principal);
  border: .2rem solid var(--cor-principal);
}

#email-text {
  font-size: 1.4rem;
  color: #fff;
  margin: 1rem 0 1.5rem;
  font-weight: 100;
  text-align: center;
  word-break: break-all;
}

.contato {
  position: relative;
  text-align: center;
  padding: 10rem 9%;
  background: var(--cor-de-fundo);
  overflow: hidden;
}

/* Degradê circular centralizado no meio*/
.contato::before {
  content: "";
  position: absolute;
  top: 50%;        /*centraliza verticalmente */
  left: 50%;       /* centraliza horizontalmente */
  transform: translate(-50%, -50%); /* garante que o centro do círculo fique bem no meio */
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(0, 102, 255, 0.3), transparent 70%);
  filter: blur(80px);
  z-index: 0;
}

/* Garante que o conteúdo fique por cima do degradê*/
.contato * {
  position: relative;
  z-index: 1;
}

/* media/ responsividade*/

@media screen and (max-width: 1200px) {
    html {
        font-size: 45%;
    }
    
}
@media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
}
@media screen and (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--cor-de-fundo);
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgb(0, 0, 0, .2);
        text-align: center;
        display: none;
    }
    nav.active{
        display: block;
    }
    nav a {
        display: block;
        margin: 4rem 0;
    }

    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
    .home-img .img-box{
        width: 35rem;
        height: 35rem;
    }
    
    .resume-container,
    .projeto-container,
    .contato-container{
        grid-template-columns: 1fr;
    }

    .resume-container{
        gap: 3rem;
    }

    .projeto-container .projeto-box:first-child{
        order: 1;
    }

    .contato::before{
        width: 40%;
        height: 40%;
    }

}
